@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .footer__title {
        font-size: 21px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav__burger {
        display: block;
        order: 1;
    }

    .menu {
        position: absolute;
        right: 20px;
        top: 100%;
        background: #fff;
        flex-direction: column;
        min-width: 200px;
        gap: 0;
        display: none;
    }

    .menu > li {
        width: 100%;
        padding: 12px 20px;
        border-bottom: 1px solid #E5E5E5;
    }

    .nav__burger:focus ~ .menu {
        display: flex;
    }

    .ecom__content, .custom__content, .footer__content {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
    }

    .custom__wrapper {
        margin-bottom: 10px;
    }

    .footer__title {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .ecom__card, .custom__card, .footer__card {
        max-width: 235px;
    }
}

@media (max-width: 576px) {
    .nav__container {
        flex-wrap: wrap;
    }

    .logo {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .form__text {
        max-width: 140px;
    }

    .header__title, .info__title, .coll__title {
        font-size: 35px;
        text-align: center;
    }

    .header__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ecom {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .coll {
        text-align: center;
    }
}